.adhesion_form{
  label.extra-left{
    margin-left: 150px;
  }
  input.extra-left{
    margin-left: 50px;
  }

  input.extra-top{
    margin-top: 36px;
  }
  p.small-padding{
    margin-top: 13px !important;
    }

  }
  p#big-extra-top{
    margin-top: 163px !important;
  }
  span.infobullereduction2{
    right: -8px !important;
  }


#unAdherent0{
  .red-sign{
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 1px solid #CDCDCD;
    background-color: #D14545;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    }
}
