{% extends "layouts/layout.twig" %}

{% block main %}
  <main class="tpl-default form-mod" id="fft-main">
    <div class="fft-main-top">
      <ol id="fft-breadcrumb">
        <li>Adhérents</li>
        <li>Attribution des formules</li>
        <li>Choix des formules</li>
        <li>
          <a class="link" href="#">Attribution</a>
        </li>

      </div>

      <div class="fft-main-content">

        <ul id="fft-tabs">
          <li>
            <a href="/choix-formules.html">Choix des formules</a>
          </li>
          <li class="current">
            <a href="/attribution.html">Attribution</a>
          </li>
        </ul>
        <form name="membreAdhesionCreateForm" id="membreAdhesionCreateForm" method="post" action="/adoc/membreAdhesionCreate.do" class="fft-form">
          <fieldset class="adhesion_form">
            <div class="grid fGrid4">

              <div>
                <p class="fft-form-line small-padding">
                  <label>Intitulé de la formule</label>
                  <input type="text" name="montantTarifSelected" maxlength="6" value="">
                </p>
                <p class="fft-form-line small-padding">
                  <input type="text" class="extra-top" name="montantTarifSelected" maxlength="6" value="">
                </p>
                <p class="fft-form-line small-padding">
                  <input type="text" class="extra-top" name="montantTarifSelected" maxlength="6" value="">
                </p>
              </div>

              <div>
                <p class="fft-form-line fft-form-line-checkable-label small-padding" id="trChoixTarifPel">
                  <label class="req">Tarif de la formule</label>
                  <ul class="fft-form-select-buttons fft-form-select-valid adhesion">
                    <li>
                      <input type="radio" value="45" name="tarif" id="adherents" checked="checked">
                      <label>Adhérents
                        <span>€45.00</span></label>
                    </li>
                    <li>
                      <input type="radio" value="50" name="tarif" id="grand_public">
                      <label>Grand Public
                        <span>€50.00</span></label>
                    </li>
                  </ul>
                </p>
                <p class="fft-form-line fft-form-line-checkable-label small-padding" id="trChoixTarifPel">
                  <ul class="fft-form-select-buttons fft-form-select-valid adhesion">
                    <li>
                      <input type="radio" value="45" name="tarif1">
                      <label>Adhérents
                        <span>€45.00</span></label>
                    </li>
                    <li>
                      <input type="radio" value="50" name="tarif1" checked="checked">
                      <label>Grand Public
                        <span>€50.00</span></label>
                    </li>
                  </ul>
                </p>
                <p class="fft-form-line fft-form-line-checkable-label small-padding" id="trChoixTarifPel">
                  <ul class="fft-form-select-buttons fft-form-select-valid adhesion">
                    <li>
                      <input type="radio" value="45" name="tarif2" >
                      <label>Adhérents
                        <span>€45.00</span></label>
                    </li>
                    <li>
                      <input type="radio" value="50" name="tarif2" checked="checked">
                      <label>Grand Public
                        <span>€50.00</span></label>
                    </li>
                  </ul>
                </p>
              </div>

              <div>
                <p class="fft-form-line fft-form-line-range small-padding">
                  <label for="facture">Montant facturé €</label>
                  <input type="text" name="facture" id="montantTarif"/>
                  <label for="reduction" class="extra-left">Réduction €</label>
                  <input class="extra-left" type="text" id="reductionAffichee" disabled="disabled" class="disabled"/>
                  <span class="icon-cross icon-active infobullereduction2" id="infobullereduction2" data-tooltip-position="top" data-tooltip="Black Friday du dd/mm/aaaa au dd/mm/aaaa"></span>
                </p>
                <p class="fft-form-line fft-form-line-range small-padding">
                  <input type="text" class="extra-top" name="facture" id="montantTarif1"/>
                  <input class="extra-left extra-top" type="text" id="reductionAffichee1" disabled="disabled" class="disabled"/>
                </p>
                <p class="fft-form-line fft-form-line-range small-padding">
                  <input type="text" class="extra-top" name="facture" id="montantTarif2"/>
                  <input class="extra-left extra-top" type="text" id="reductionAffichee2" disabled="disabled" class="disabled"/>
                </p>

              </div>

              <div>
                <p class="fft-form-line fft-form-line-checkable" id="big-extra-top">
                    <input type="checkbox" name="tickets-pass2" value="1" id="tickets-pass2" checked="checked"/>
                    <label for="tickets-pass2">Reprendre les tickets de l'an passé</label>
                </p>
              </div>

            </div>
          </fieldset>
          <div class="fft-line-separate">
              <div class="fft-line-separate-left">

              </div>
              <div class="fft-line-separate-center">
              </div>
              <div class="fft-line-separate-right">
                  <button name="buttonRechercher" class="btn" onclick="verifFormAttribution(form, 'saveCreate');">Attribuer</button>
              </div>
          </div>
        </form>

        <table class="table" id="unAdherent0">
          <thead>
            <tr>
              <th class="sortable sorted order1">
                <a
                  href="/adoc-tma/membreListe.do?idNiveauMin=&amp;idClassementMax=&amp;chefDeFamille=off&amp;recherchePartenaire=&amp;ageMax=&amp;lieuLicence=CA&amp;paiementEnAttente=off&amp;idAnneeAdhesion=&amp;nom=&amp;codeSexe=&amp;mode=R&amp;idClassementMin=&amp;buttonRechercher=Rechercher&amp;d-2672472-p=1&amp;saisieNiveauxM11=0&amp;dateCertificat=&amp;d-2672472-o=2&amp;d-2672472-n=1&amp;loisirOuCompetition=&amp;d-2672472-s=sexe&amp;idCategorie=&amp;prenom=&amp;idFamille=&amp;ville=&amp;method=list&amp;soldeMax=&amp;licenceAutreClub=&amp;codePostal=&amp;idEcheance=&amp;regroupementFamilial=&amp;typeLicence=&amp;dateApplicationNiveau=&amp;ageMin=15&amp;idNiveauMax=&amp;avecEmail=off&amp;dateCertifNull=off&amp;idMillesimeDernierLicence=&amp;soldeMin=&amp;numeroDernierLicence=&amp;nouveauxAdherents=off&amp;fidelite=">Sexe</a>

              </th>
              <th class="sortable">
                <a
                  href="/adoc-tma/membreListe.do?idNiveauMin=&amp;idClassementMax=&amp;chefDeFamille=off&amp;recherchePartenaire=&amp;ageMax=&amp;lieuLicence=CA&amp;paiementEnAttente=off&amp;idAnneeAdhesion=&amp;nom=&amp;codeSexe=&amp;mode=R&amp;idClassementMin=&amp;buttonRechercher=Rechercher&amp;d-2672472-p=1&amp;saisieNiveauxM11=0&amp;dateCertificat=&amp;d-2672472-o=2&amp;d-2672472-n=1&amp;loisirOuCompetition=&amp;d-2672472-s=nom&amp;idCategorie=&amp;prenom=&amp;idFamille=&amp;ville=&amp;method=list&amp;soldeMax=&amp;licenceAutreClub=&amp;codePostal=&amp;idEcheance=&amp;regroupementFamilial=&amp;typeLicence=&amp;dateApplicationNiveau=&amp;ageMin=15&amp;idNiveauMax=&amp;avecEmail=off&amp;dateCertifNull=off&amp;idMillesimeDernierLicence=&amp;soldeMin=&amp;numeroDernierLicence=&amp;nouveauxAdherents=off&amp;fidelite=">Nom</a>
              </th>
              <th class="sortable">
                <a
                  href="/adoc-tma/membreListe.do?idNiveauMin=&amp;idClassementMax=&amp;chefDeFamille=off&amp;recherchePartenaire=&amp;ageMax=&amp;lieuLicence=CA&amp;paiementEnAttente=off&amp;idAnneeAdhesion=&amp;nom=&amp;codeSexe=&amp;mode=R&amp;idClassementMin=&amp;buttonRechercher=Rechercher&amp;d-2672472-p=1&amp;saisieNiveauxM11=0&amp;dateCertificat=&amp;d-2672472-o=2&amp;d-2672472-n=1&amp;loisirOuCompetition=&amp;d-2672472-s=prenom&amp;idCategorie=&amp;prenom=&amp;idFamille=&amp;ville=&amp;method=list&amp;soldeMax=&amp;licenceAutreClub=&amp;codePostal=&amp;idEcheance=&amp;regroupementFamilial=&amp;typeLicence=&amp;dateApplicationNiveau=&amp;ageMin=15&amp;idNiveauMax=&amp;avecEmail=off&amp;dateCertifNull=off&amp;idMillesimeDernierLicence=&amp;soldeMin=&amp;numeroDernierLicence=&amp;nouveauxAdherents=off&amp;fidelite=">Prénom</a>
              </th>
              <th class="sortable">
                <a
                  href="/adoc-tma/membreListe.do?idNiveauMin=&amp;idClassementMax=&amp;chefDeFamille=off&amp;recherchePartenaire=&amp;ageMax=&amp;lieuLicence=CA&amp;paiementEnAttente=off&amp;idAnneeAdhesion=&amp;nom=&amp;codeSexe=&amp;mode=R&amp;idClassementMin=&amp;buttonRechercher=Rechercher&amp;d-2672472-p=1&amp;saisieNiveauxM11=0&amp;dateCertificat=&amp;d-2672472-o=2&amp;d-2672472-n=1&amp;loisirOuCompetition=&amp;d-2672472-s=sexe&amp;idCategorie=&amp;prenom=&amp;idFamille=&amp;ville=&amp;method=list&amp;soldeMax=&amp;licenceAutreClub=&amp;codePostal=&amp;idEcheance=&amp;regroupementFamilial=&amp;typeLicence=&amp;dateApplicationNiveau=&amp;ageMin=15&amp;idNiveauMax=&amp;avecEmail=off&amp;dateCertifNull=off&amp;idMillesimeDernierLicence=&amp;soldeMin=&amp;numeroDernierLicence=&amp;nouveauxAdherents=off&amp;fidelite=">Né le</a>
              </th>
              <th class="sortable">
                <a
                  href="/adoc-tma/membreListe.do?idNiveauMin=&amp;idClassementMax=&amp;chefDeFamille=off&amp;recherchePartenaire=&amp;ageMax=&amp;lieuLicence=CA&amp;paiementEnAttente=off&amp;idAnneeAdhesion=&amp;nom=&amp;codeSexe=&amp;mode=R&amp;idClassementMin=&amp;buttonRechercher=Rechercher&amp;d-2672472-p=1&amp;saisieNiveauxM11=0&amp;dateCertificat=&amp;d-2672472-o=2&amp;d-2672472-n=1&amp;loisirOuCompetition=&amp;d-2672472-s=dateNaissance&amp;idCategorie=&amp;prenom=&amp;idFamille=&amp;ville=&amp;method=list&amp;soldeMax=&amp;licenceAutreClub=&amp;codePostal=&amp;idEcheance=&amp;regroupementFamilial=&amp;typeLicence=&amp;dateApplicationNiveau=&amp;ageMin=15&amp;idNiveauMax=&amp;avecEmail=off&amp;dateCertifNull=off&amp;idMillesimeDernierLicence=&amp;soldeMin=&amp;numeroDernierLicence=&amp;nouveauxAdherents=off&amp;fidelite=">Niv/classement</a>
              </th>
              <th class="sortable">
                <a
                  href="/adoc-tma/membreListe.do?idNiveauMin=&amp;idClassementMax=&amp;chefDeFamille=off&amp;recherchePartenaire=&amp;ageMax=&amp;lieuLicence=CA&amp;paiementEnAttente=off&amp;idAnneeAdhesion=&amp;nom=&amp;codeSexe=&amp;mode=R&amp;idClassementMin=&amp;buttonRechercher=Rechercher&amp;d-2672472-p=1&amp;saisieNiveauxM11=0&amp;dateCertificat=&amp;d-2672472-o=2&amp;d-2672472-n=1&amp;loisirOuCompetition=&amp;d-2672472-s=millesimeDernierLicence&amp;idCategorie=&amp;prenom=&amp;idFamille=&amp;ville=&amp;method=list&amp;soldeMax=&amp;licenceAutreClub=&amp;codePostal=&amp;idEcheance=&amp;regroupementFamilial=&amp;typeLicence=&amp;dateApplicationNiveau=&amp;ageMin=15&amp;idNiveauMax=&amp;avecEmail=off&amp;dateCertifNull=off&amp;idMillesimeDernierLicence=&amp;soldeMin=&amp;numeroDernierLicence=&amp;nouveauxAdherents=off&amp;fidelite=">Dernière<br>adhésion</a>
              </th>
              <th class="sortable">
                <a
                  href="/adoc-tma/membreListe.do?idNiveauMin=&amp;idClassementMax=&amp;chefDeFamille=off&amp;recherchePartenaire=&amp;ageMax=&amp;lieuLicence=CA&amp;paiementEnAttente=off&amp;idAnneeAdhesion=&amp;nom=&amp;codeSexe=&amp;mode=R&amp;idClassementMin=&amp;buttonRechercher=Rechercher&amp;d-2672472-p=1&amp;saisieNiveauxM11=0&amp;dateCertificat=&amp;d-2672472-o=2&amp;d-2672472-n=1&amp;loisirOuCompetition=&amp;d-2672472-s=codeTypeLicence&amp;idCategorie=&amp;prenom=&amp;idFamille=&amp;ville=&amp;method=list&amp;soldeMax=&amp;licenceAutreClub=&amp;codePostal=&amp;idEcheance=&amp;regroupementFamilial=&amp;typeLicence=&amp;dateApplicationNiveau=&amp;ageMin=15&amp;idNiveauMax=&amp;avecEmail=off&amp;dateCertifNull=off&amp;idMillesimeDernierLicence=&amp;soldeMin=&amp;numeroDernierLicence=&amp;nouveauxAdherents=off&amp;fidelite=">Dernière<br>Licence</a>
              </th>
              <th class="sortable">
                <a
                  href="/adoc-tma/membreListe.do?idNiveauMin=&amp;idClassementMax=&amp;chefDeFamille=off&amp;recherchePartenaire=&amp;ageMax=&amp;lieuLicence=CA&amp;paiementEnAttente=off&amp;idAnneeAdhesion=&amp;nom=&amp;codeSexe=&amp;mode=R&amp;idClassementMin=&amp;buttonRechercher=Rechercher&amp;d-2672472-p=1&amp;saisieNiveauxM11=0&amp;dateCertificat=&amp;d-2672472-o=2&amp;d-2672472-n=1&amp;loisirOuCompetition=&amp;d-2672472-s=echelonDynamique&amp;idCategorie=&amp;prenom=&amp;idFamille=&amp;ville=&amp;method=list&amp;soldeMax=&amp;licenceAutreClub=&amp;codePostal=&amp;idEcheance=&amp;regroupementFamilial=&amp;typeLicence=&amp;dateApplicationNiveau=&amp;ageMin=15&amp;idNiveauMax=&amp;avecEmail=off&amp;dateCertifNull=off&amp;idMillesimeDernierLicence=&amp;soldeMin=&amp;numeroDernierLicence=&amp;nouveauxAdherents=off&amp;fidelite=">Millésime<br>Dernière Licence</a>
              </th>
              <th></th>
              <th><input id="check_uncheck_all" name="check_uncheck_all" type="checkbox"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd">
              <td>
                <span class="icon-femme"></span>
              </td>
              <td>DE OLIVEIRA VASCO</td>
              <td>Elizangela</td>
              <td>
                03/10/1985</td>
              <td>
                <span class="red-sign"></span>
                10 Niveau rouge</td>
              <td>2019</td>
              <td>9859390 N</td>
              <td>2019</td>
              <td>
                <input type="checkbox" id="chk2207193"/>
                <label for="chk2207193" title="selectionner"></label>
              </td>
              <td>
                <input type="hidden" name="updateTime" value="1508176381240">
                <input type="hidden" name="identifiant" value="2207194">
                <input type="checkbox" name="tab" id="checked" value="2207194">
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="icon-femme"></span>
              </td>
              <td>DE OLIVEIRA VASCO</td>
              <td>Elizangela</td>
              <td>
                03/10/1985</td>
              <td>
                <span class="red-sign"></span>
                10 Niveau rouge</td>
              <td>
                2019
              </td>
              <td>9859390 N</td>
              <td>2019</td>
              <td>
                <input type="checkbox" id="chk2207194"/>
                <label for="chk2207194" title="selectionner"></label>
              </td>
              <td>
                <input type="hidden" name="updateTime" value="1508176381240">
                <input type="hidden" name="identifiant" value="2207194">
                <input type="checkbox" name="tab" id="checked" value="2207194">
              </td>
            </tr>
            <tr class="odd">
              <td>
                <span class="icon-femme"></span>
              </td>
              <td>DE OLIVEIRA VASCO</td>
              <td>Elizangela</td>
              <td>
                03/10/1985</td>
              <td>
                <span class="red-sign"></span>
                10 Niveau rouge</td>
              <td>
                2019
              </td>
              <td>9859390 N</td>
              <td>2019</td>
              <td>
                <input type="checkbox" id="chk2207195"/>
                <label for="chk2207195" title="selectionner"></label>
              </td>
              <td>
                <input type="hidden" name="updateTime" value="1508176381240">
                <input type="hidden" name="identifiant" value="2207194">
                <input type="checkbox" name="tab" id="checked" value="2207194">
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="icon-femme"></span>
              </td>
              <td>DE OLIVEIRA VASCO</td>
              <td>Elizangela</td>
              <td>
                03/10/1985</td>
              <td>
                <span class="red-sign"></span>
                10 Niveau rouge</td>
              <td>
                2019
              </td>
              <td>9859390 N</td>
              <td>2019</td>
              <td>
                <input type="checkbox" id="chk2207196"/>
                <label for="chk2207196" title="selectionner"></label>
              </td>
              <td>
                <input type="hidden" name="updateTime" value="1508176381240">
                <input type="hidden" name="identifiant" value="2207194">
                <input type="checkbox" name="tab" id="checked" value="2207194">
              </td>
            </tr>
          </tbody>
        </table>

        <div class="fft-main-bottom"></div>
      </main>

    {% endblock %}
