div.accordion {
  padding: 0px;
  position: relative; /* required for bounding */
}

div.accordion-toggle {
  position: relative; /* required for effect */
  z-index: 10;    /* required for effect */
  background-position: bottom;
  background-color: #D9DFE4;
  border-radius: 4px;
  color: #033C69;
  cursor: pointer;
  margin-bottom: 1px;
  padding: 9px 14px 6px 14px;
  font-weight: bold;
}

div.accordion-toggle:hover, div.accordion-toggle-active {
  background-color: #D9DFE4;
  color: #033C69;
}

div.accordion-content {
  overflow: hidden; /* required for effect */
}

div.accordion-content {
  margin: 9px 24px 6px 24px;
}
