<div class="dialog__mask" id="dialog">
  <div class="container-fluid dialog__container">
    <a class="dialog__close" href="{{ req.path }}">
      <i class="icon-cancel">
        <span class="hidden">Close</span></i>
    </a>
    <div class="dialog__body"></div>
  </div>
</div>
