<header id="fft-header">
    <div class="fft-header-content">
        <a class="logoFFT" href="http://www.fft.fr" target="_blank" title="Accéder au site http://www.fft.fr">
            <img src="/img/logo-2018.gif" alt="FFT-ADOC 2018"/>
        </a>
    </div>
</header>