<ol class="pagination">
    <li class="pagination-first">
        <a href="#">Première page</a>
    </li>
    <li class="pagination-prev">
        <a href="#">Page précédente</a>
    </li>
    <li class="pagination-page">
        <a href="#">1</a>
    </li>
    <li class="pagination-page">
        <a href="#">2</a>
    </li>
    <li class="pagination-page pagination-current">
        <a href="#">3</a>
    </li>
    <li class="pagination-page">
        <a href="#">4</a>
    </li>
    <li class="pagination-page">
        <a href="#">5</a>
    </li>
    <li class="pagination-next">
        <a href="#">Page suivante</a>
    </li>
    <li class="pagination-last">
        <a href="#">Dernière page</a>
    </li>
</ol>