<div id="popin-modal" class="fft-modal">
    <div class="dialog__mask" id="dialog">
        <div class="container-fluid dialog__container">
            <a class="dialog__close">
                <i class="icon-cancel">
                    <span class="hidden">Close</span></i>
            </a>
            <div class="dialog__body">
                <div class="fft-main-content popin-modal">
                    <div class="popin-content">
                        <h3 class="title-text">Qu’est-ce que TEN’UP ?</h3>
                        <p class="detail-text" style="width: 730px;">
                            TEN’UP est une plateforme digitale qui comprend un site Internet et une application mobile dotés d’un moteur de recherche pour toutes les pratiques (tennis, padel et beach-tennis), ainsi qu’un ensemble de services en ligne.
                        </p>
                        <div class="grid grid2">
                            <div class="blockquote-div">
                                <div class="blockquote">
                                    <h3 class="title-text">Pourquoi cette plateforme digitale ?</h3>
                                    <ul>
                                        <li class="detail-text">Donner plus de visibilité à votre club sur internet</li>
                                        <li class="detail-text">Promouvoir vos offres et services de façon plus claire et efficace</li>
                                        <li class="detail-text">Simplifier l’accès à la pratique de vos adhérents et du grand public</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blockquote-div">
                                <div class="blockquote">
                                    <h3 class="title-text">Pourquoi associer vos formules aux offres TEN’UP ?</h3>
                                    <p class="detail-text">
                                        Pour que vos formules soient identifiées simplement par les pratiquants (vos adhérents ainsi que le grand public) et visibles sur la plateforme TEN’UP.
                                    </p>
                                    <p class="detail-text mt-24">
                                        Ces offres TEN’UP ont été réparties en plusieurs grandes familles qui répondent chacune à des attentes fortes des sportifs.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h3 class="title-text mt-64">Comment proposer vos formules sur TEN'UP ?</h3>
                        <div class="grid grid2">
                            <div class="comment-block">
                                <h4 class="title-comment-block">1 - Créez votre formule</h4>
                                <p class="detail-text">
                                    Créez votre formule en sélectionnant les critères correspondants (public, tranche d'âge, niveau/classement...).
                                </p>
                                <p class="detail-text">
                                    Afin d'informer au mieux les pratiquants des spécificités de cette formule, n'hésitez pas à renseigner le champ "description de la formule.
                                </p>
                            </div>
                            <div class="comment-block">
                                <h4 class="title-comment-block">2 - Créez vos tarifs</h4>
                                <p class="detail-text">
                                    Créez un ou deux tarifs en fonction de la cible de votre formule (vos adhérents et/ou le grand public).
                                </p>
                                <p class="detail-text">
                                    Chaque tarif peut avoir son propre paramétrage : montant, dates de validité, visibilité, validation par le club, paiement en ligne.
                                </p>
                            </div>
                            <div class="comment-block">
                                <h4 class="title-comment-block">3 - Mettez en vente vos tarifs</h4>
                                <p class="detail-text" style="display: flex;">
                                    Mettez en vente vos tarifs en cliquant sur
                                    <span class="icon-euro icon-white mt-2 ml-5"></span>
                                </p>
                            </div>
                            <div class="comment-block">
                                <h4 class="title-comment-block">4 - Associez votre formule à une offre TEN'UP</h4>
                                <p class="detail-text">
                                    Glissez/déposez votre formule dans l’offre TEN’UP correspondante.
                                </p>
                                <p class="detail-text">
                                    Cette étape finale permet à votre formule d’apparaître sur TEN’UP.
                                </p>
                            </div>
                        </div>
                        <h3 class="title-text mt-64">Une question, un problème ?</h3>
                        <p class="detail-text">
                            N’hésitez pas à contacter votre conseiller en développement pour un accompagnement à la création de votre vitrine digitale TEN’UP.
                        </p>
                    </div>
                    <button class="btn2 mt-32 mb-32 popin-Fermer">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>