#fft-main .modalCtn {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: rgba(0,0,0,.55);
  z-index: 100000000;
  display: flex;

  &.cloak {
    display: none;
  }

  .modalInner {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 6px 6px 10px rgba(0,0,0,.3);
    padding: 20px;
    max-width: 98vw;
    max-height: 98vh;
    width: 1280px;
    max-width: 100%;
    overflow: auto;
  }

  &.confirm .modalInner {
    max-width: 50vw;

    p {
      text-align: center;
      font-size: 14px;
      margin: 0 0 20px;
    }
    > div > div {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: sans-serif;
  }

  .modalFooter {
    display: flex;
    justify-content: right;
  }

  .modalBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    > div {
      align-self: flex-end;


      &.reqPERM {
        text-align: center;
        align-self: center;

        p {
          color: #4E4E4E;
          font-size: 12px;
          margin: 20px auto 15px;
          width: 80%;
        }

        button {
          margin-bottom: 15px;
          text-align: center;
        }
      }
    }
  }





}

:not(.oldie) #fft-main .fft-form .modalCtn .fft-form-line {
  &.Joueur {
    .deleteJoueur {
      display: none;
      position: absolute;
      top: -25px; right: -5px;
      transform: scale(.5);
      cursor: pointer;
      z-index: 100;
    }

    &:hover .deleteJoueur {display: block;}
  }

}

@media screen and (max-width: 1024px) {
  #resaContainer > div:nth-child(4) > div > form > fieldset > .grid {
    flex-direction: column;

    & > div {
      min-width: 100%;
      max-width: 100%;
    }

    & button {
      white-space: nowrap;
      margin: 0 auto;
    }
  }
  #resaContainer > div:nth-child(4) > div > form > fieldset > div > div.modalBtn > p {
    margin-bottom: 1em;
  }
  :not(.oldie) #fft-main .fft-form .fieldset, :not(.oldie) #fft-main .fft-form fieldset {
    padding: 0;
    margin: 0;
  }
}