//Greyscales:

$white: #fff;
$grey-dark: #4E4E4E;
$grey: #9B9B9B;
$grey-light: #CDCDCD;
$black: #383838;


//Theme colors:
$theme-color-dark: #033C69;
$theme-color-light: #06AED3;
$theme-color-lightest: #F2FBFC;

//Accent colors:
$accent-red: #D14545;
$accent-green: #45CA7E;
$accent-yellow: #E89550;